<html>
  <head>
    <link rel="stylesheet" href="stylesheets/about_us.css">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kirang+Haerang|Open+Sans+Condensed:300|Poppins" rel="stylesheet">
    <title>About Us</title>
  </head>

<body>
 <ul> <!--navigation bar-->
  <li><a href="/">Home</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="FAQ">FAQ</a></li>
  <li><a href="about_us">About Us</a></li>
</ul>

<!--welcome/title-->
    <h1>About Us</h1>
    <p> Learn more about the Bon Voyage! creators. </p>
  
<style>
/*div.background {*/
/*    background: url(klematis.jpg) repeat;*/

/*}*/

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>

<div class="background">
  <div class="transbox">
    <h2>Ella Jaravata</h2>
    <h4>Ella is a student, Kode With Klossy scholar, and gurl boss :) She prefers front-end programming, and had a blast designing Bon Voyage with Alicia! Ella loves to travel with her family, and hopes that Bon Voyage! inspires others to break out of their comfort zone, and see what lies beyond their hometown. </h4>
  <p>Future destination: New Zealand</p>
  </div>
</div>
  
  <style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
  

<div class="background">
  <div class="transbox">
    <h2>Alicia Garlic</h2>
    <h4> Alicia is a student, Kode with Klossy scholar and all around curious person. She loves both back end and front end programming, and she can't wait to see where her interest in coding takes her. </h4>
     <p>Future destination: Everywhere</p>
  </div>
</div>
  
</body>
</html>



Collapse 
11:33 AM
app/views/FAQ.erb 
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/FAQ.css">
    <title>Homepage</title>
  </head>

<body>
 <ul> <!--navigation bar-->
  <li><a href="/">Home</a></li>
  <li><a href="quiz">Quiz</a></li>
  <li><a href="FAQ">FAQ</a></li>
  <li><a href="about_us">About Us</a></li>
</ul>

<!--welcome/title-->
    <h1>FAQ</h1>
    <p> Frequently Asked Questions </p>
  
<style>
div.background {
    background: url(klematis.jpg) repeat;

}

div.transbox {
    margin: 100px;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
  
</style>
</head>
  

<div class="background">
  <div class="transbox">
    <h2>How can I travel if I'm poor? </h2>
    <h4>Statistics</h4>
    <a href = "https://docs.google.com/forms/d/1SXiJp6EuFceHUxXjo9PjfmtSHmnys9ddaV6Kl4m4my8/edit"> Ask more questions here!</a>
  </div>
</div>
  
</body>
</html>